{% extends 'base.html' %}

{% block title %}
HOME PAGE
{% endblock %}

{% block body %}
<div class="jumbotron" style="margin: 20px; margin-top: 100px; ">
  <h1 class="display-4">Welcome To Resumator!</h1>
  <p class="lead">Resumator is a free online resume generator. It makes the task of creating an official resume quick and easy.   </p>
  <hr class="my-4">
  <p>Create a resume by inputing details about yourself, education, job experience and others.</p>
  <a class="btn btn-primary btn-lg" href="p_info" role="button">Get started</a>
</div>
{% endblock %}